<div class="sidebar-container">

    <div class="header">
        <span class="SpaceBetween">

            <h6 *ngIf="!searchValue">
                <nb-icon icon="people-outline"></nb-icon> Active Users <span
                    *ngIf="activeUsers">({{activeUsers.length}}) </span>
            </h6>

            <h6 *ngIf="searchValue">
                <nb-icon icon="people-outline"></nb-icon> Users <span
                    *ngIf="(users | search : searchValue)">({{(users | search : searchValue).length}}) </span>
            </h6>

            <h6>
                <nb-icon class="icon-button" icon="settings-2-outline" [options]="{ animation: { type: 'pulse' } }">
                </nb-icon>
            </h6>
        </span>
    </div>

    <div class="footer">
        <input nbInput type="text" shape="semi-round" type="text" [(ngModel)]="searchValue" nbInput
            placeholder="Search..." />
    </div>

    <div class="content-container" *ngIf="users">

        <nb-list *ngIf="searchValue">

            <nb-list-item *ngFor="let u of (users | search : searchValue) | orderBy : 'lastCnx' :true ">

                <nb-user class="awayStatus" [picture]="u.avatar || '../../../assets/images/default-profile.png'"
                    [name]="u.fullname" [size]="'large'" [badgeText]="(u.lastCnx | timeAgoShort)?'':' '" [title]="u.lastCnx | timeAgo"
                    [badgeStatus]="(u.lastCnx | timeAgoShort)?'danger':'success'" badgePosition="bottom right">
                </nb-user>


            </nb-list-item>

        </nb-list>


        <nb-list *ngIf="!searchValue">

            <nb-list-item *ngFor="let u of (activeUsers | search : searchValue)">

                <nb-user class="onlineStatus" [picture]="u.avatar || '../../../assets/images/default-profile.png'"
                    [name]="u.fullname" [size]="'large'" [badgeText]="' '" [title]="u.lastCnx | timeAgo"
                    [badgeStatus]="(u.lastCnx | timeAgoShort)?'warning':'success'" badgePosition="bottom right">
                </nb-user>


            </nb-list-item>

        </nb-list>

    </div>


</div>