@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {

    nb-card-header, nb-card-body {
        width: 100%;  
        display: flex;  
        justify-content: space-between;
    }

    .icons{
        nb-icon{
            //font-size: 2.5em;
            margin-right: 1em;
            cursor: pointer;
        }
      
    }
}