<nb-card *ngIf="user != undefined">
    <nb-card-header>

        <span>
            <p class="text-bold"> {{user.prenom}} {{user.nom}} </p>
        </span>

        <span class="icons">

            <nb-icon icon="star" [options]="{ animation: { type: 'pulse' } }"></nb-icon> <!-- zoom shake pulse flip -->
            
            <nb-icon icon="cube" [options]="{ animation: { type: 'pulse' } }"></nb-icon> <!-- zoom shake pulse flip -->
            
            <nb-icon icon="clock" [options]="{ animation: { type: 'pulse' } }"></nb-icon> <!-- zoom shake pulse flip -->
            
            <nb-icon icon="camera" [options]="{ animation: { type: 'pulse' } }"></nb-icon> <!-- zoom shake pulse flip -->
            
            <nb-icon icon="globe-2" [options]="{ animation: { type: 'pulse' } }"></nb-icon> <!-- zoom shake pulse flip -->
            
            <nb-icon icon="linkedin" [options]="{ animation: { type: 'pulse' } }"></nb-icon> <!-- zoom shake pulse flip -->
            
            <nb-icon icon="image" [options]="{ animation: { type: 'pulse' } }"></nb-icon> <!-- zoom shake pulse flip -->
            
            <nb-icon icon="image-2" [options]="{ animation: { type: 'pulse' } }"></nb-icon> <!-- zoom shake pulse flip -->

        </span>

    </nb-card-header>
    <nb-card-body>


    </nb-card-body>
</nb-card>