@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    html{
        overflow: hidden;
    }

    nb-card{
        max-width: 900px;
        margin: 0 auto;
        max-height: 90vh;
        overflow: hidden;
    }

}
